@tailwind base;
@tailwind components;
@tailwind utilities;

@layer colors {
	:root {
		--doctor: 252 252 252;
		--french: 247 247 247;
		--piano: 25 26 26;
		--salt: 219 219 219;
		--capri: 90 193 249;
		--iron: 204 204 205;
		--sleep: 16 16 16;

		--chocolate: 61 44 18;
		--caribou: 129 107 96;
		--cloud: 252 245 237;
		--sugar: 252 241 226;

		--black: 0 0 0;
		--white: 255 255 255;
	}

	.theme-light {
		--border: var(--salt);
		--editor: var(--french);
		--viewport: var(--doctor);
		--text: var(--chocolate);
	}

	.theme-sepia {
		--border: var(--caribou);
		--editor: var(--sugar);
		--viewport: var(--cloud);
		--text: var(--chocolate);
	}

	.theme-dark {
		--border: var(--black);
		--editor: var(--piano);
		--viewport: var(--sleep);
		--text: var(--iron);
	}
}
.focus-mode-final * {
	background-color: rgb(var(--text) / 0.2);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	caret-color: rgb(var(--text));
}

/* .ProseMirror {
	transition-property: padding-top;
	@apply duration-300;
	color: rgb(var(--text));
} */

.ProseMirror *:not(div) {
	transition-property: transform;
	@apply duration-300;
}

.focus-mode-final .ProseMirror {
	@apply flex flex-col justify-end;
	/* padding-bottom: calc(50vh - 1.5em); */
}

.focus-mode-final > * > * > *:not(div) {
	transform: translateY(calc(-50vh + 2.5rem));
}

.focus-mode > * > * > *:not(div) {
	transform: translateY(calc(50vh - 100% - 2.5rem));
}

.transition-only-transform * {
	transition-property: transform !important;
}

.no-transition * {
	transition: none !important;
}

.focus-mode-final :last-child {
	background: linear-gradient(to bottom, rgb(var(--text)) 0%, rgb(var(--text)) 100%);
	background-color: rgb(var(--text) / 0.2);
	background-size: 1.5em 1.5em;
	background-position: bottom left;
	background-repeat: repeat-x;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	caret-color: rgb(var(--text));
	/* @apply mb-[50%]; */
}

@layer transition {
	.ProseMirror,
	.rendered,
	.popover,
	select {
		@apply transition-colors duration-300;
	}

	div {
		transition-property: background-color, border-color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
	}
}
